@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

button,
input,
select,
label {
  font-family: inherit;
}

button {
  outline: none;
}

.react-pdf__Page {
  position: relative;
  background: white;
}

.react-pdf__Page canvas {
  display: block;
}

.react-pdf__Page__textContent {
  user-select: text;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}